.navScroll{
    background-color: aqua;
}
.navNoScroll{
    background-color: blue;
}
#navImgN{
    display: none;
}
@media only screen  and (max-width:688px){
    #navImg{
          display: none;
    }
    #navImgN{
        display:unset;
    }
}
@media only screen  and (min-width:689px) and (max-width:990px){
    #navImg{
        display: none;
  }
  #navImgN{
    display:unset;
}
    
}